@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville&family=Merriweather:ital,wght@0,700;1,700&family=Montserrat:wght@400;700;900&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
background: linear-gradient(90deg, rgba(0,193,254,1) 0%, rgba(250,255,193,1) 100%);
}
.signin{
    height: 100vh;
}
.sign{
    font-size: large;
}
.enter{
    font-size: small;
}
.signinf{
    border-radius: 20px;
    width: 400px;
}
.forget{
    font-size: x-small;
}
input{
    font-size: small !important;
}
::-webkit-input-placeholder{
    color: rgb(200, 204, 207) !important;
}
