@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville&family=Merriweather:ital,wght@0,700;1,700&family=Montserrat:wght@400;700;900&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.nav-link:hover {
    background-color: #d2d3c5 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
.Sidbar{
    background: #FAFFC1;
    height: 100vh;
    width: 240px;
}
.E-classe{
    font-size: medium;
}
#AdminName{
    font-size: medium;
}
#Admin{
    font-size: small;
}
.nav{
    font-size: 80%;
}
.rectan1{
    background-color: rgba(240, 249, 255, 1);
}
.rectan2{
    background-color:rgba(254, 246, 251, 1);
}
.rectan3{
    background-color: rgba(254, 251, 236, 1);
}
.rectan4{
    background: linear-gradient(90deg, rgba(0,193,254,1) 0%, rgba(250,255,193,1) 100%);
}

  

